<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Singlepagecheckout>
            <version>0.1.0</version>
        </Custom_Singlepagecheckout>
    </modules>
    <frontend>
        <routers>
            <singlepagecheckout>
                <use>standard</use>
                <args>
                    <module>Custom_Singlepagecheckout</module>
                    <frontName>singlepagecheckout</frontName>
                </args>
            </singlepagecheckout>
        </routers>
        <layout>
            <updates>
                <singlepagecheckout>
                    <file>singlepagecheckout.xml</file>
                </singlepagecheckout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<singlepagecheckout>
				<use>admin</use>
				<args>
					<module>Custom_singlepagecheckout</module>
					<frontName>singlepagecheckout</frontName>
				</args>
			</singlepagecheckout>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<singlepagecheckout module="singlepagecheckout">
				<title>singlepagecheckout</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="singlepagecheckout">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>singlepagecheckout/adminhtml_singlepagecheckout</action>
					</items>
				</children>
			</singlepagecheckout>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Custom_Singlepagecheckout>
							<title>Singlepagecheckout Module</title>
							<sort_order>10</sort_order>
						</Custom_Singlepagecheckout>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<singlepagecheckout>
					<file>singlepagecheckout.xml</file>
				</singlepagecheckout>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <singlepagecheckout>
                <class>Custom_Singlepagecheckout_Model</class>
                <resourceModel>singlepagecheckout_mysql4</resourceModel>
            </singlepagecheckout>
            <singlepagecheckout_mysql4>
                <class>Custom_Singlepagecheckout_Model_Mysql4</class>
                <entities>
                    <singlepagecheckout>
                        <table>singlepagecheckout</table>
                    </singlepagecheckout>
                </entities>
            </singlepagecheckout_mysql4>
        </models>
        <resources>
            <singlepagecheckout_setup>
                <setup>
                    <module>Custom_Singlepagecheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </singlepagecheckout_setup>
            <singlepagecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </singlepagecheckout_write>
            <singlepagecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </singlepagecheckout_read>
        </resources>
        <blocks>
            <singlepagecheckout>
                <class>Custom_Singlepagecheckout_Block</class>
            </singlepagecheckout>
			<giftmessage>
				<rewrite>
					<message_inline>Custom_Singlepagecheckout_Block_Singlepagecheckout_Giftmessage_Inline</message_inline>
				</rewrite>
			</giftmessage>
			<checkout>
			   <rewrite>
					<links>Custom_Singlepagecheckout_Block_Links</links>
			   </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <singlepagecheckout>
                <class>Custom_Singlepagecheckout_Helper</class>
            </singlepagecheckout>
			<checkout>
			   <rewrite>
					<url>Custom_Singlepagecheckout_Helper_Data</url>
			   </rewrite>
            </checkout>
        </helpers>
    </global>
</config>